dplyr
tidyr
readr
ggplot2
lubridate
sf
terra
raster
sp
gstat
ggspatial
rnaturalearth
rnaturalearthdata
patchwork
cowplot
GGally
ggpointdensity
ggExtra
viridis
viridisLite
RColorBrewer
scales
reshape2
geosphere
infotheo
DiagrammeR
DiagrammeRsvg
rsvg
lwgeom
stringr
